// Fonts

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

// Colors

$main_text: #333B41;
$green: #4B9200;
$orange: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
$orange_plain: #FE9013;
$yellow: #FFEE2E;
$orange_gradient: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$pink_gradient: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$rad: #D31414;
$black_blue: #333B41;
$gray: #767474;
$gray_smoky: #ABABAB;
$gray_light: #F1F3F2;
$frosted_glass_white: rgba(253, 253, 255, 0.52);

// Mixins

@mixin transition-color {
  -o-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

@mixin transition-opacity {
  -o-transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  -webkit-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}

@mixin transition-all {
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// Media

$tablet-width: 640px;
$small-desktop-width: 1000px;
$desktop-width: 1600px;

@mixin mobile {
  @media (max-width: #{$tablet-width - 1}) {
    @content;
  }
}

@mixin mobile-nav {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$small-desktop-width - 1}) {
    @content;
  }
}

@mixin small-desktop {
  @media (max-width: #{$desktop-width - 1}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

/*
 * Reset
 */

* {margin:0;outline:none;padding:0;}
code,kbd,samp,pre,tt,var,textarea,input,select,isindex {font:inherit;font-size:100%}
dfn,i,cite,var,address,em {font-style:normal}
th,b,strong,h1,h2,h3,h4,h5,h6 {font-weight:bold}
a,img,a img,iframe,form,fieldset,abbr,acronym,object,applet {border:none}
table {border-collapse:collapse;border-spacing:0}
caption,center {vertical-align:top}
th,td {vertical-align:middle}
q {quotes:"" ""}
ul,ol,dir,menu {list-style:none}
sub,sup {vertical-align:baseline}
a {color:inherit}
hr {display:none}

/* HTML5 reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display: block;}


/*
 * General
 */

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: $main_text;
  background: #fff;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  font-variant-ligatures: normal;
  font-kerning: normal;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;

  @include small-desktop {
    line-height: 130%;
  }
}

.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
}

*+ html .clearfix {
  display: inline-block;
}

* html .clearfix {
  display: inline-block;
  height: 1%;
}


/*
 * Typography & elements
 */

a {
  color: $green;
  @include transition-color;
  text-decoration: none;

  &.secondary {
    color: $main_text;
    border-bottom: 1px solid $orange_plain;
  }
}

a:hover {
  color: $orange;

  &.secondary {
    color: inherit;
  }
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
  margin: 3.55px;

  @include mobile-nav {
    font-size: 12.2899px;
    margin: 0;

    .nav-active & {
      font-size: 15.2116px;
      margin: 2.8px 3.8px;
      color: $orange_plain;
    }
  }
}

.h1 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 114px;
  line-height: 80%;
  text-transform: uppercase;
  color: #ffffff;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: $main_text;
  margin-bottom: 20px;

  @include mobile {
    font-size: 24px;
  }
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: $main_text;

  @include tablet {
    font-size: 24px;
    line-height: 120%;
  }
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: $main_text;
  margin-bottom: 32px;
}

h5 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: #000000;

  @include tablet {
    font-size: 12.4695px;
    margin-bottom: 1px;
  }
}

p {
  margin: 0 0 25px 0;

  &.small {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #000000;

    @include tablet {
      font-size: 11.6901px;
    }
  }
}

ul {
  margin: 0;
  padding: 0 0 0 10px;
  list-style-type: none;
}

.button {
  @include border-box;
  display: inline-block;
  width: 298px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: #ffffff;
  background: $orange;
  text-decoration: none;
  outline: none;
  border: 0 none;
  border-radius: 25px;
  margin: 0;
  padding: 16px 45px;
  cursor: pointer;
  text-align: center;

  &:hover {
    background: #E47209;
  }

  &:active, &:focus {
    background: $green;
  }

  &:disabled {
    background: $gray;
  }

  &.button_secondary {
    border-radius: 5px;
  }
}


/*
 * Main frame
 */

 #wrapper {
   width: 100%;
   position: relative;
   overflow: hidden;
 }

 .section {
   width: 100%;
   min-width: 100%;
 }

.inner-wrapper {
  width: 1160px;
  min-width: 1160px;
  margin: 0 auto;
  @include border-box;

  @include small-desktop {
    width: 100%;
    min-width: 100%;
    padding: 0 30px;
  }

  @include tablet {
    padding: 0 20px;
  }

  @include mobile {
    padding: 0 10px;
  }
}

.section__content {
  padding: 41px 0 180px;

  @include small-desktop {
    padding: 41px 0 30px;
  }

  @include tablet {
    padding: 31px 0 46px;
  }

  @include mobile {
    padding: 31px 0 21px;
  }
}


/*
 * Header
 */

.header {
  @include border-box;
  width: 100%;
  padding: 14px 0;
  background-color: #000;
  position: relative;
  z-index: 11;

  @include mobile-nav {
    padding: 4px 0 1px;
    position: fixed;

    .inner-wrapper {
      padding: 0 10px;
    }
  }

  @include mobile-nav {
    .inner-wrapper {
      padding: 0;
    }
  }

  .header__holder {
    display: flex;
    justify-content: space-between;

    @include mobile-nav {
      display: block;
      @include transition-all;

      .nav-active & {
        width: 100%;
        padding-bottom: 40px;
        background: #ffffff;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .header__logo {
      display: block;
      width: 82px;
      height: 52px;
      text-align: center;
      text-decoration: none;
      border: 1px solid #FFFFFF;
      border-radius: 2px;
      @include border-box;
      position: relative;

      @include mobile-nav {
        width: 57px;
        height: 29px;
        border: 0 none;
        margin-left: 5px;

        .nav-active & {
          width: 66px;
          height: 42px;
          border: 1px solid $orange_plain;
          margin: {
            top: 10px;
            left: 10px;
          }
        }
      }

      .header__logo-img {
        height: 21px;
        position: absolute;
        left: 9.5px;
        top: 23px;
        transform: rotate(-3deg);

        &.header__logo-img_orange {
          display: none;
        }

        @include mobile-nav {
          transform: scale(0.6);
          top: 9px;
          left: 7px;

          .nav-active & {
            transform: scale(0.8);
            top: 16px;
            left: 6px;

            &.header__logo-img_white {
              display: none;
            }

            &.header__logo-img_orange {
              display: block;
            }
          }
        }
      }
    }

    .header__nav {
      display: flex;

      @include mobile-nav {
        justify-content: space-between;

        .nav-active & {
          flex-direction: column;
        }
      }

      .header__button {
        display: none;

        @include mobile-nav {
          display: block;
          width: 18px;
          height: 10px;
          outline: none;
          background: none;
          border: 0 none;
          cursor: pointer;
          position: relative;
          margin: 8px 10px 0px 0;
          z-index: 11;
          @include transition-all;

          .nav-active & {
            transform: rotate(-90deg);
            position: absolute;
            top: 4px;
            right: -4px;
          }

          i {
            display: block;
            width: 18px;
            height: 2px;
            background: #ffffff;
            position: absolute;
            top: 0;
            left: 0;

            .nav-active & {
              background: #000000;
              transform: rotate(-45deg);
            }

            &:before, &:after {
              content: '';
              width: 100%;
              height: 2px;
              background: #ffffff;
              position: absolute;
              left: 0;

              .nav-active & {
                background: #000000;
              }
            }

            &:before {
              top: 4px;

              .nav-active & {
                opacity: 0;
              }
            }

            &:after {
              top: 8px;

              .nav-active & {
                transform: rotate(90deg);
                top: 0px;
              }
            }
          }
        }
      }

      ul {
        margin-left: 9px;
        padding: 0;

        @include small-desktop {
          margin-left: 19px;
        }

        @include tablet {
          margin-left: 45px;
        }

        @include mobile-nav {
          display: none;

          .nav-active & {
            display: block;
            margin: 22px 0 0;
          }
        }

        li {
          display: inline-block;
          margin: 15px 0 15px 54px;

          @include small-desktop {
            margin-left: 44px;
          }

          @include tablet {
            margin-left: 14px;
          }

          @include mobile-nav {
            .nav-active & {
              display: block;
              margin: 0;
            }
          }

          a {
            display: inline-block;
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
            text-decoration: none;
            color: #ffffff;

            @include mobile-nav {
              .nav-active & {
                font-weight: 400;
                color: #333B41;
                padding: 7.5px 10px;
              }
            }

            &:hover, &.active {
              background: $orange;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              background-clip: text;
              text-fill-color: transparent;
            }

            &.active {
              cursor: default;
            }
          }
        }
      }
    }

    .header__copyright {
      color: #ffffff;
      margin: 15px 1px 0 0;

      @include small-desktop {
        margin-top: 16px;
      }

      @include mobile-nav {
        display: none;

        .nav-active & {
          display: block;
          color: #333B41;
          margin: {
            top: 7px;
            left: 10px;
          }
        }
      }

      &:hover {
        background: $orange;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
    }
  }
}

/*
* Overlay
*/

@include mobile-nav {
  body.nav-active  {
    overflow: hidden;
  }

  #overlay {
    width: 100%;
    height: 100%;
    background: rgba(41, 41, 41, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    @include transition-opacity;

    .nav-active & {
      visibility: visible;
      opacity: 1;
      z-index: 10;
    }
  }
}


/*
 * Watch online section
 */

#top-banner {
  width: 100%;
  min-width: 100%;
  height: 386px;
  min-height: 386px;
  background: {
    image: url('../../assets/images/panda_bg.jpg');
    repeat: no-repeat;
    position: center center;
    size: cover;
  }

  @include small-desktop {
    height: 390px;
    min-height: 390px;
    background-position: 29% center;
  }

  @include tablet {
    height: 335px;
    min-height: auto;
    background-position: 37% center;
  }

  @include mobile-nav {
    margin-top: 34px;
  }

  @include mobile {
    height: 187px;
    background-position: 33% center;
  }
}


/*
 * Donation section
 */

#donation {
  background: $orange_gradient;

  .section__content {
    p.white {
      color: #ffffff;
      margin: 0 5px 45px 0;

      @include small-desktop {
        line-height: 137%;
        padding-right: 1%;
      }

      @include tablet {
        margin-bottom: 31px;
      }
    }

    h3 {
      color: #ffffff;
      margin-bottom: 9px;

      @include small-desktop {
        padding-right: 10%;
        margin-bottom: 30px;
      }

      @include tablet {
        padding-right: 0;
        margin-bottom: 20px;
      }

      &.orange {
        color: $orange_plain;

        @include tablet {
          font-size: 36px;
          line-height: 130%;
        }

        @include mobile {
          font-size: 24px;
          line-height: 120%;
        }
      }
    }

    .pick-friend {
      background: rgba(255, 255, 255, 0.52);
      backdrop-filter: blur(2px);
      border-radius: 20px;
      margin-top: 59px;
      padding: 40px 92px 37px;
      text-align: center;

      @include small-desktop {
        margin-top: 41px;
        padding: 20px 40px 22px;
      }

      @include tablet {
        margin-top: 29px;
        padding: 30px 40px 7px;
      }

      @include mobile {
        padding: 22px 0 7px;
      }

      h2 {
        color: $orange_plain;
        margin: 0 0 22px -12px;

        @include small-desktop {
          margin-bottom: 11px;
        }

        @include tablet {
          margin: {
            left: 0;
            bottom: 22px;
          }
        }

        @include mobile {
          margin-bottom: 9px;
        }
      }

      h4 {
        text-align: left;

        @include small-desktop {
          text-align: center;
        }

        @include mobile {
          font-size: 16px;
          line-height: 140%;
          margin-bottom: 18px;
        }
      }
    }
  }

  .donation-widget {
    padding-top: 27px;

    @include tablet {
      padding-top: 17px;
    }

    .donation-widget__info {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: left;
      margin-bottom: 42px;

      @include tablet {
        margin-bottom: 36px;
      }

      @include mobile {
        margin-bottom: 0;
      }

      .donation-widget__info-txt {
        width: 170px;
        min-width: 170px;
        padding-top: 50px;

        @include mobile {
          width: 95px;
          min-width: 95px;
          padding-top: 4px;
        }

        .donation-widget__days {
          font-weight: 500;
          font-size: 72px;
          line-height: 80%;
          text-align: center;
          text-transform: uppercase;
          color: #000000;
          margin: 0 0 10px -10px;

          @include mobile {
            font-size: 40px;
            margin: 0 0 5px -6px;
          }
        }

        @include mobile {
          .donation-widget__days-info {
            font-size: 9px;
          }
        }
      }

      .donation-widget__info-icon {
        padding-top: 27px;
        width: 78px;
        min-width: 78px;

        @include mobile {
          padding-top: 0px;
          width: 45px;
          min-width: 45px;
          margin-top: -11px;

          img {
            width: 8px;
          }
        }
      }

      .donation-widget__info-img {
        width: 298px;
        min-width: 298px;

        @include mobile {
          width: 160px;
          min-width: 160px;
          margin-top: -24px;

          img {
            width: 160px;
          }
        }
      }
    }

    .donation-widget__amount {
      @include small-desktop {
        margin: 0 25px;
      }

      @include tablet {
        margin: 0 -40px;
      }

      @include mobile {
        margin: -2px 0 0;
      }

      p {
        text-align: left;
        color: #000000;
        margin: 0 0 16px 4px;

        @include small-desktop {
          margin: 0 0 19px 0;
        }

        @include tablet {
          margin: 0 0 7px 10px;
        }

        @include mobile {
          margin: 0 0 9px 0;
        }
      }
    }

    .donation-widget__bar {
      @include border-box;
      width: 100%;
      height: 27px;
      padding: 12px 29px 13px 26px;
      margin-bottom: 98px;
      background: #404950;
      border-radius: 2px;
      position: relative;

      @include small-desktop {
        padding: {
          right: 9px;
          left: 11px;
        }
      }

      @include tablet {
        padding: {
          right: 35px;
          left: 35px;
        }
      }

      @include mobile {
        height: 13.5px;
        padding: 6px 17px 5px;
        margin-bottom: 49px;
      }

      .donation-widget__track {
        width: 100%;
        height: 2px;
        background: #72828E;
        display: flex;
        justify-content: space-between;

        @include mobile {
          width: 200%;
          margin-left: -50%;
          transform: scale(0.5);
        }

        .donation-widget__bullet {
          width: 10px;
          height: 10px;
          margin: -4px 0 0 0;
          position: relative;

          @include small-desktop {
            &.donation-widget__bullet_01 {
              display: none;
            }
          }

          @include tablet {
            &.donation-widget__bullet_02,
            &.donation-widget__bullet_03 {
              display: none;
            }
          }

          .bullet {
            display: block;
            @include border-box;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            margin: -15px 0 0 -15px;
            position: relative;
            @include transition-all;

            &:after,
            &:before {
              content: '';
              display: block;
              @include transition-all;
              @include border-box;
              border: 2px solid $orange_plain;
              border-radius: 50%;
              position: absolute;
              opacity: 0;
            }

            &:after {
              width: 40px;
              height: 40px;
              left: 0;
              top: 0;
            }

            &:before {
              width: 22px;
              height: 22px;
              left: 9px;
              top: 9px;
            }

            &:hover:after,
            &.active:after,
            &:hover:before,
            &.active:before {
              opacity: 1;
            }

            @include tablet {
              &.active_tablet:after,
              &.active_tablet:before {
                opacity: 1;
              }
            }

            i {
              display: block;
              width: 10px;
              height: 10px;
              background: #FFEE2E;
              border-radius: 50%;
            }

            &.active ~ .amount {
              color: $orange_plain;
            }

            @include tablet {
              &.active_tablet ~ .amount {
                color: $orange_plain;
              }
            }

            &.active ~ .amount i {
              background-image: url('../../assets/icons/usd-orange.svg');
            }

            @include tablet {
              &.active_tablet ~ .amount i {
                background-image: url('../../assets/icons/usd-orange.svg');
              }
            }
          }

          .amount {
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 26px;
            line-height: 140%;
            text-transform: uppercase;
            color: #333B41;
            margin: 7px 0 0 -26px;
            position: absolute;

            @include small-desktop {
              margin-left: -11px;
            }

            @include tablet {
              margin-left: -18px;
            }

            @include mobile {
              margin-top: 3px;
            }

            i {
              display: inline-block;
              width: 10px;
              height: 20px;
              margin-right: 2px;
              background: {
                image: url('../../assets/icons/usd-black.svg');
                repeat: no-repeat;
                position: center center;
              }
            }
          }
        }
      }
    }

    .donation-widget__custom {
      margin-bottom: 25px;

      @include small-desktop {
        margin-bottom: 27px;
      }

      @include tablet {
        margin-bottom: 32px;
      }

      @include mobile {
        margin-bottom: 26px;
      }

      .donation-widget__input {
        @include border-box;
        width: 268px;
        height: 54px;
        border: 1px solid #929699;
        border-radius: 2px;
        margin: 0 auto;
        position: relative;

        @include tablet {
          width: 180px;
          height: 42px;
        }

        &:after {
          display: inline-block;
          content: '';
          width: 10px;
          height: 20px;
          background: {
            image: url('../../assets/icons/usd.svg');
            repeat: no-repeat;
            position: center center;
          }
          position: absolute;
          right: 9px;
          top: 16px;

          @include tablet {
            top: 10px;
          }
        }

        &:has(input[type="number"]:focus) {
          border-color: $green;

          &:after {
            background-image: url('../../assets/icons/usd-green.svg');
          }
        }

        &:has(input[type="number"]:invalid) {
          border-color: $rad;

          &:after {
            background-image: url('../../assets/icons/usd-red.svg');
          }
        }

        input[type="number"] {
          width: 230px;
          height: 22px;
          padding: 16px 29px 16px 9px;
          background: none;
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          color: #929699;
          outline: none;
          border: 0 none;
          -moz-appearance: textfield;

          @include tablet {
            width: 148px;
            height: 28px;
            padding: 6px 25px 6px 5px;
          }

          &:focus {
            color: $green;
          }

          &:invalid {
            color: $rad;
          }
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }

    .donation-widget__period {
      margin: 0 0 29px -15px;

      @include mobile {
        margin: 0 0 27px -20px;
      }

      .container {
        display: inline-block;
        margin: 0 24px;
        position: relative;
        padding-left: 25px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        @include mobile {
          padding-left: 24px;
        }

        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;

          &:checked ~ .checkmark {
            border-color: $green;
          }

          &:checked ~ .checkmark:after {
            display: block;
          }
        }

        .checkmark {
          @include border-box;
          position: absolute;
          top: 2px;
          left: 0;
          height: 16px;
          width: 16px;
          background-color: transparent;
          border: 1px solid $orange_plain;
          border-radius: 50%;

          @include small-desktop {
            top: 1px;
            left: -1px;
          }

          &:after {
            @include border-box;
            content: '';
            position: absolute;
            display: none;
            top: -1px;
            left: -1px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: $green;
          }
        }

        &:hover input ~ .checkmark {
          background-color: #ffffff;
        }
      }
    }

    .donation-widget__submit {
      text-align: center;
      margin-bottom: 30px;

      @include small-desktop {
        button {
          margin-left: 5px;
        }
      }

      @include mobile {
        button {
          margin-left: 0;
        }
      }
    }

    @include mobile {
      .donation-widget__share {
        white-space: nowrap;
        margin-bottom: 14px;
      }
    }
  }
}


/*
 * Footer
  */

.footer {
  width: 100%;
  min-width: 100%;
  background: #111115;
  padding: 40px 0 50px;

  @include tablet {
    padding: 13px 0;
  }

  @include mobile {
    padding: 19px 0;
  }

  .inner-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .footer__section {
      @include border-box;

      &.footer__section_01 {
        min-width: 68%;

        @include small-desktop {
          min-width: 57%;
        }

        @include tablet {
          min-width: calc(100% - 26px);
        }

        @include mobile {
          order: 0;
        }
      }

      &.footer__section_02 {
        min-width: 32%;
        padding-left: 6px;

        @include small-desktop {
          min-width: 43%;
        }

        @include tablet {
          display: none;
        }
      }

      &.footer__section_03 {
        min-width: 25%;

        @include small-desktop {
          min-width: 19%;
        }

        @include tablet {
          min-width: 26px;
        }

        @include mobile {
          min-width: 100%;
          order: 1;
        }
      }

      &.footer__section_04 {
        min-width: 50%;
        align-self: flex-end;

        @include small-desktop {
          min-width: 43%;
        }

        @include tablet {
          min-width: 62%;
        }

        @include mobile {
          min-width: 100%;
          order: 3;
        }
      }

      &.footer__section_05 {
        min-width: 25%;
        align-self: flex-end;

        @include small-desktop {
          min-width: 24%;
        }

        @include tablet {
          min-width: 38%;
        }

        @include mobile {
          min-width: 100%;
          order: 2;
        }
      }

      .footer__logo {
        display: block;
        width: 82px;
        height: 52px;
        text-align: center;
        text-decoration: none;
        border: 0.5px solid #FFFFFF;
        border-radius: 2px;
        @include border-box;
        position: relative;

        @include mobile {
          width: 135px;
          height: 24px;
          border: 0 none;
          margin: 0 auto;
        }

        p {
          font-weight: 400;
          font-size: 19.0145px;
          line-height: 120%;
          text-align: center;
          color: #ffffff;
          margin: 2px;
        }

        img {
          height: 21px;
          position: absolute;
          left: 9.5px;
          top: 23px;
          transform: rotate(-3deg);

          @include mobile {
            left: 76.5px;
            top: -4px;
          }
        }
      }

      .footer__donate {
        margin: 70px 0 44px;

        @include tablet {
          margin-top: 32px;
        }

        @include mobile {
          margin: 84px 0 29px;
        }

        .button {
          width: 298px;

          @include mobile {
            display: block;
            margin: 0 auto;
          }
        }
      }

      h4 {
        color: #ffffff;
        margin: {
          bottom: 15px;
          left: -2px;
        }
      }

      form {
        .footer__subscribe {
          display: inline-block;
          width: 226px;
          height: 40px;
          line-height: 40px;
          margin-right: 135px;
          position: relative;

          &:before {
            content: '';
            width: calc(100% + 2px);
            height: calc(100% + 2px);
            border-radius: 3px;
            background: $orange;
            position: absolute;
            top: -1px;
            left: -1px;
          }

          &:has(input[type="email"]:focus:valid) {
            &:before {
              background: $green;
            }
          }

          &:has(input[type="email"]:focus:invalid) {
            &:before {
              background: $rad;
            }
          }

          input[type="submit"] {
            @include border-box;
            display: inline-block;
            width: 129px;
            height: 42px;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #000000;
            background: $gray_light;
            border: 1px solid $black_blue;
            border-radius: 5px;
            outline: none;
            margin: 0;
            cursor: pointer;
            text-align: center;
            position: absolute;
            right: -140px;
            top: 0;
          }

          input[type="email"] {
            width: 210px;
            padding: 10px 8px;
            font-size: 16px;
            line-height: 20px;
            color: #BDBDBD;
            background: #111115;
            outline: none;
            border: 0 none;
            border-radius: 2px;
            position: relative;

            &:focus:invalid {
              color: $rad;
            }

            &:valid ~ input[type="submit"]:hover,
            &:focus:valid ~ input[type="submit"] {
              color: $green;
              border-color: $green;
            }

            &:invalid ~ input[type="submit"]:hover,
            &:focus:invalid ~ input[type="submit"] {
              color: $rad;
              border-color: $rad;
            }
          }
        }
      }

      .footer__social {
        float: left;
        list-style: none;
        padding: 0;
        margin: -2px 0 0;

        @include mobile {
          float: none;
          display: flex;
          justify-content: space-between;
          margin: -140px 53px 0 53px;
        }

        li {
          padding-top: 10px;

          @include tablet {
            padding-top: 20px;
          }

          @include mobile {
            display: inline-block;
            padding: 0;
          }

          &:first-child {
            padding: 0;
          }
        }

        a {
          display: flex;
          height: 26px;
          line-height: 31px;
          color: #ffffff;
          text-decoration: none;

          @include tablet {
            display: block;
            width: 26px;
            overflow: hidden;
          }

          &:hover {
            color: $green;
          }

          .icon {
            display: inline-block;
            width: 26px;
            height: 26px;
            margin-right: 13px;
            background: {
              color: rgba(196, 196, 196, 0.5);
              repeat: no-repeat;
              position: center center;
            }
            border-radius: 50%;
            text-align: center;

            @include tablet {
              margin-right: 0;
            }

            &.icon_facebook {
              background-image: url('../../assets/icons/fb.svg');
            }

            &.icon_twitter {
              background-image: url('../../assets/icons/twitter.svg');
            }

            &.icon_instagram {
              background-image: url('../../assets/icons/instagram.svg');
            }

            &.icon_youtube {
              background-image: url('../../assets/icons/yt.svg');
            }
          }

          &:hover .icon {
            background-color: $green;
          }
        }
      }

      .footer__nav {
        margin-left: 55px;

        @include small-desktop {
          margin-left: 17px;
        }

        @include tablet {
          margin: {
            top: 52px;
            left: 0;
          }
        }

        @include mobile {
          margin: 28px 11px 0;
        }

        ul {
          margin: 0;
          padding: 0;

          @include mobile {
            display: flex;
            justify-content: space-between;
          }

          li {
            display: inline-block;
            margin: 0 0 0 54px;

            @include small-desktop {
              margin-left: 44px;
            }

            @include tablet {
              margin-left: 33px;

              &:first-child {
                margin: 0;
              }
            }

            @include mobile {
              margin: 0;
            }

            a {
              display: inline-block;
              font-weight: 400;
              font-size: 16px;
              line-height: 140%;
              text-decoration: none;
              color: #ffffff;

              &:hover, &.active {
                background: $orange;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
              }

              &.active {
                cursor: default;
              }
            }
          }
        }
      }

      .footer__copyright {
        font-weight: 100;
        font-size: 16px;
        line-height: 130%;
        color: #FFFFFF;
        margin: 0 0 0 62px;

        @include small-desktop {
          margin: 0;
        }

        @include mobile {
          float: right;
          font-size: 15px;
        }

        a {
          display: block;
          color: #ffffff;

          &:hover {
            color: $green;
            text-decoration: underline;
          }

          span {
            display: block;
            padding-bottom: 9px;

            @include mobile {
              padding-bottom: 12px;
            }
          }
        }
      }
    }
  }
}
